<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        <h1>DETTAGLIO CLIENTE</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">RagioneSociale: {{clienti.ragioneSociale}}</h5>
      <h5 class="card-title">PartitaIva: {{clienti.partitaIva}}</h5>
      <h5 class="card-title">TipoCliente: {{clienti.tipoCliente}}</h5>
      <h5 class="card-title">Email: {{clienti.email}}</h5>
      <h5 class="card-title">Pec: {{clienti.pec}}</h5>
      <h5 class="card-title">Telefono: {{clienti.telefono}}</h5>
      <h5 class="card-title">NomeContatto: {{clienti.nomeContatto}}</h5>
      <h5 class="card-title">CognomeContatto: {{clienti.cognomeContatto}}</h5>
      <h5 class="card-title">TelefonoContatto: {{clienti.telefonoContatto}}</h5>
      <h5 class="card-title">EmailContatto: {{clienti.emailContatto}}</h5>
      <h5 class="card-title">IndirizzoSedeOperativa: {{clienti.indirizzoSedeOperativa}}</h5>
      <h5 class="card-title">IndirizzoSedeLegale: {{clienti.indirizzoSedeLegale}}</h5>
      <h5 class="card-title">DataInserimento: {{clienti.dataInserimento}}</h5>
      <h5 class="card-title">DataUltimoContato: {{clienti.dataUltimoContatto}}</h5>
      <h5 class="card-title">FatturatoAnnuale: {{clienti.fatturatoAnnuale}}</h5>
    </div>
  </div>
